#navbar{
    background-color:rgb(142, 176, 228);
    height: 70px;
}
h1{
    text-align: center;
    margin: 425px;
    border-radius: 50px;
    
}
body{
    background-image: url(osztaly.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
#alma{
      width: 98%;
      margin: auto;
}
#PGlogo{
    width: 325px;
    margin-top: 520px;
    margin-left: 0%;
    height: 50px;
    background-color: white;
}
#nevsor{
    width: 300px;
    margin-top: 100px;
    margin-left: 40%;
    height: 1000px;
    background-color: white;
    border-radius: 25px;
}
h2{
    text-align: center;
    border-radius: 25px;
}
#AndrásiEndre{
    text-align: center;
}
#BalázsLászló{
    text-align: center;
}
#Áron-GörögSzilvia{
    text-align: center;
}
#CsukaTibor{
    text-align: center;
}
#DongóPéter{
    text-align: center;
}
#HódiÁgnes{
    text-align: center;
}
#KissGábor{
    text-align: center;
}
#SimóZsuzsanna{
    text-align: center;
}
#VasViola{
    text-align: center;
}
#VinczeZsolt{
    text-align: center;
}
#EszesGergely{
    text-align: center;
}




.a{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .header {
    overflow: hidden;
    background-color: rgba(22, 163, 194, 1);
    padding: 20px 10px;
}

.header a:hover {
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
}

 .icon{
    width: 40px;
 }

 .backgrnd{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 89vh;
 }

.b{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(pexels-stephan-seeber-1261728.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ajanlathatter{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 89vh;
}

h1{
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

.niagara{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 0 50px;
    margin: 0 auto;
}

.niagar{
    font-size: 25px;
    font-weight: bold;
}

.kepxd{
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding: 0 160px;
    margin: 0 auto;
    height: 200px;
}

.ajanlatszoveg{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.szoveg{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 0 40px;
    margin: 0 auto;
}

.c{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(pexels-photo-551854.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.turaink{
    display: flex;
    margin-left: 9%;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding-top: 5%;
}

.tura2{
    padding-left: 5%;
}

.tura3{
    padding-left: 5%;
}

.turaszoveg{
    display: flex;
}

.turaszoveg1{
    margin-left: 14%;
    font-size: 30px;
    margin-top: 0;
}

.turaszoveg2{
    margin-left: 13%;
    font-size: 30px;
    margin-top: 0;
}

.turaszoveg3{
    margin-left: 9%;
    font-size: 30px;
    margin-top: 0;
}

.d{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d99ff;
}

.kep1{
    margin-left: auto;
    margin-right: 0;
    display: block;
 }

 .kep2{
    display: block;
    margin-right:0px;
 }
 table{
    background-color: rgb(239, 240, 241);
 }
.tablazat1{
    margin: auto;
    width: 80%;
    margin-bottom: 40px;
    margin-top: 40px;
}
.tablazat2{
    margin: auto;
    width: 80%;
}
.tablazat2 h1{
    text-align: right;
    margin: auto;
}
.tablazat2 p{
    text-align: right;
    margin: auto;
}
.tablazat1 h1{
    text-align: left;
    margin: auto;
}
.tablazat1 p{
    text-align: left;
    margin: auto;
}